<div class="category">
  <div class="category__header" (click)="triggerTable()">
    <i class="material-icons category__header-arrow"
      [ngClass]="{'category__header-arrow--rotate-180': isTableOpened}">keyboard_arrow_up</i>
    {{category.key}}
  </div>
  <div class="category__body"
       *ngIf="isTableOpened">
    <div *ngFor="let good of category.value"
         class="category__row"
         (click)="addToCart(good)">
      <div class="category__cell category__name-cell">
        <span>{{good.goodName}} ({{good.total}})</span>
      </div>
      <div class="category__cell category__price-cell"
           [ngClass]="{'category__price-cell--red': good.priceStatus === 'increased', 'category__price-cell--green': good.priceStatus === 'decreased'}">
        <span>{{good.price}}</span>
      </div>
    </div>
  </div>
</div>
