.category {
  user-select: none;
  width: 600px;
  cursor: pointer;
  margin: 10px 20px;

  &__header-arrow {
    transition: all .2s ease-out;

    &--rotate-180 {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  &__header {
    display: flex;
    background: lightblue;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px 2px 0 0;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__price-cell {
    flex-basis: 20%;
    justify-content: center;
    background-color: lightgray;

    &--red {
      background: lightcoral;
    }

    &--green {
      background: lightgreen;
    }
  }

  &__name-cell {
    flex-basis: 80%;
    padding: 5px;
  }

  &__cell {
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__row {
    border: 1px solid gray;
    border-top: 0;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;

    &:active {
      background: bisque;
    }
  }
}
