.cart {
  padding: 20px 40px;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 1000px;
  }

  &__total-text {
    text-align: right;
    font-size: 17px;
    color: gray;
    padding-top: 5px;
  }

  &__total-sum {
    color: orange;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

.cart-table {
  border-collapse: collapse;
  background-color: ghostwhite;
  border-radius: 2px;
  width: 100%;

  &__header {
    color: gray;
    text-align: left;

    th {
      padding-bottom: 3px;
    }
  }

  &__price {
    font-weight: bold;
  }

  &__input {
    width: 40px;
    height: 20px;
  }

  &__header-cell {
    &--400 {
      width: 400px;
    }

    &--100 {
      width: 100px;
    }

    &--150 {
      width: 150px;
    }
  }

  &__body {
    td {
      padding: 10px 7px;
    }
  }

  &__row {
    border-top: 1px solid lightgrey;
  }

  &__delete-good {
    font-weight: bold;
    text-align: right;

    span {
      cursor: pointer;
    }
  }
}
