<div class="cart">
  <h2 *ngIf="!cartTotal">Корзина пустая</h2>
  <div *ngIf="cartTotal"
       class="cart__container">
    <table class="cart-table">
      <thead class="cart-table__header">
      <tr>
        <th *ngFor="let header of tableHeader"
            class="{{header.class}}">
          {{header.name}}
        </th>
      </tr>
      </thead>
      <tbody class="cart-table__body">
      <tr *ngFor="let goodObj of cartGoods | keyvalue"
          class="cart-table__row">
        <td>
          {{goodObj.value.good.categoryName}}. {{goodObj.value.good.goodName}}
        </td>
        <td>
          <input (change)="changeGoodAmount($event, goodObj.key)"
                 class="cart-table__input"
                 type="number"
                 min="1"
                 max="{{goodObj.value.good.total}}"
                 [value]="cartGoods[goodObj.key].amount">
          <span> шт.</span>
        </td>
        <td>
          <span class="cart-table__price">{{goodObj.value.good.price}} руб.</span> / шт.
        </td>
        <td class="cart-table__delete-good">
          <span (click)="removeGood(goodObj.key)">Удалить</span>
        </td>
      </tr>
      </tbody>
    </table>
    <span class="cart__total-text">Oбщая стоимость: <span class="cart__total-sum">{{totalSum}} руб.</span></span>
  </div>
</div>
