<div class="app">
  <header class="app__navigation">
    <div class="navigation__container">
      <div class="navigation__link"
           routerLink="/catalog"
           routerLinkActive="active-link">
        <span class="navigation__catalog">catalog</span>
      </div>
      <div class="navigation__link navigation__cart"
           routerLink="/cart"
           routerLinkActive="active-link">
        <div class="navigation__cart-items"
             *ngIf="cartTotal">
          <span>{{cartTotal}}</span>
        </div>
        <i class="material-icons">shopping_cart</i>
      </div>
    </div>
  </header>
  <router-outlet style="padding-top: 56px"></router-outlet>
  <footer>
    <form class="app__dollar-rate-form"
          [formGroup]="dollarRateForm"
          (ngSubmit)="updateDollarRate()"
          novalidate>
      <input formControlName="dollarRate">
      <button type="submit">Update Dollar Rate</button>
      <span *ngIf="showDollarRateUpdatedMessage"
            class="app__form-updating-message">dollar rate has been updated</span>
      <span *ngIf="showDollarRateErrorMessage"
            class="app__form-error-message">Error: dollar rate value should be between 20 and 80</span>
    </form>
  </footer>
</div>
