.app {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__navigation {
    color: lightgray;
    background: cornflowerblue;
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  &__dollar-rate-form {
    padding: 10px 60px;
  }

  &__form-updating-message {
    color: green;
    padding-left: 10px;
  }

  &__form-error-message {
    color: red;
    padding-left: 10px;
  }
}

.active-link {
  color: white;
}

.navigation {
  &__container {
    display: flex;
    padding: 0 30px;
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;

    &[ng-reflect-router-link] {
      outline: 0;
    }

    &:hover {
      @extend .active-link;
    }

    &:first-child {
      margin-right: auto;
    }
  }

  &__catalog {
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__cart {
    position: relative;
    padding: 0 5px;
  }

  &__cart-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
    font-size: 10px;
    position: absolute;
    right: 2px;
    transform: translateX(50%);
    top: 8px;
    height: 13px;
    width:fit-content;
    min-width: 10px;
    color: white;
    background-color: orange;
    border-radius: 50%;
  }
}
