.catalog {
  display: flex;
  flex-wrap: wrap;

  &__interval-update-form {
    flex-basis: 100%;
    padding: 20px 0 0 60px;
  }

  &__form-updating-message {
    color: green;
    padding-left: 10px;
  }

  &__form-error-message {
    color: red;
    padding-left: 10px;
  }
}
