<div class="catalog">
  <app-category *ngFor="let category of catalogGoods | keyvalue"
                [category]="category"></app-category>
  <form class="catalog__interval-update-form"
        [formGroup]="catalogUpdateForm"
        (ngSubmit)="updateIntervalValue()"
        novalidate>
    <input formControlName="interval">
    <button type="submit">Update Interval Timer</button>
    <span *ngIf="showIntervalUpdatedMessage"
          class="catalog__form-updating-message">Interval timer has been updated</span>
    <span *ngIf="showIntervalErrorMessage"
          class="catalog__form-error-message">Error: Interval value should be between 2000 and 15000</span>
  </form>
</div>
